<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ram.tapdetector"
          android:versionCode="2"
          android:versionName="1.1">
    <uses-sdk android:minSdkVersion="11"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.PROCESS_INCOMING_CALLS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name=".TapMainActivity"
                  android:exported="true"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity"/>
        <activity android:name=".AppSwitcherSettingsActivity"/>
        <activity android:name=".MusicSettingsActivity"/>
        <activity android:name=".RejectCallSettingsActivity"/>
        <activity android:name=".TapDetectorActivity"/>
        <activity android:name=".VibrationSettingsActivity"/>
        <receiver android:name=".CallManager">
                <intent-filter>
                    <action android:name="android.intent.action.PHONE_STATE"/>
                </intent-filter>
        </receiver>
    </application>
</manifest>
